.bubble {
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    /* width: fit-content; */
    min-width: 18rem;
    max-width: 20rem;
    text-align: left;
    background-color: #ffffff;
    border-radius: 500px;
    display: grid;
    place-items: center;
    /* position: relative; */
    transform: translateX(-50%);
    /* writing-mode: horizontal-tb; */
}